* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  color: black;
}

#container1 {
  background-color: white;
  position: absolute;
  top: 100px;
  left: 150px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  height: 70%;
  border-color: black;
  border-radius: 10px;
}

.col-left {
  float: left;
  width: 45%;
  height: 70%;
  border-color: black;
}

.col-right {
  float: right;
  width: 45%;
  height: 70%;
  border-color: black;
}

#image {
  width: 500px;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#button {
  background-color: black;
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 50px;
  width: 220px;
  height: 60px;
  cursor: pointer;
}

#button:hover {
  background-color: grey;
}

.input-field {
  width: 70%;
  padding: 10px;
  text-align: left;
  padding-left: 80px;
  margin-bottom: 3px;
}

.inline i {
  position: absolute;
  padding: 25px;
  min-width: 40px;
  color: grey;
}

.close {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.close:hover {
  color: grey;
}
